/node_modules
/coverage
/build
/staticfiles
/.vscode
/stubs
/src_dep_0
/src_dep_00

*.pyc
*.sqlite3
package-lock.json
Pipfile.lock

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

geckodriver.log
