@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

:root {
  --black: #2a2a2a;
  --white: #fdfdfd;
  --grey: #bbbbbb;
  --dark-grey: #434343;
  --light-grey: #efefef;
  --lighter-grey: #f8f8f8;
  --green: #00a878;
  --green-dark: #00694b;
  --green-light: #9fdecc;
  --red: #ff6f59;
  --red-dark: #9f4538;
  --red-light: #ffc9c1;
  --blue: #4d9de0;
  --blue-light: #bcdaf3;
  --blue-dark: #30628c;
  --blue-medium-light: #63a9e4;
  --yellow: #f3de2c;
  --yellow-dark: #f5bb00;
}

* {
  font-family: 'Lato', sans-serif !important;
}

html {
  background-color: var(--white);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  overflow: hidden;
  border-radius: 0.2em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 0.2em;
}

/*************************************

            TEXT STYLES

*************************************/

/********************
       STYLE
********************/

.has-text-bold {
  font-weight: 800 !important;
}

.has-text-semibold {
  font-weight: 600 !important;
}

/********************
       COLOR
********************/

.has-text-black {
  color: var(--black) !important;
}

.has-text-dark-grey {
  color: var(--dark-grey) !important;
}

.has-text-grey {
  color: var(--grey) !important;
}

.has-text-red {
  color: var(--red) !important;
}

.has-text-blue {
  color: var(--blue) !important;
}

.has-text-green {
  color: var(--green) !important;
}

.has-text-yellow {
  color: var(--yellow-dark) !important;
}

/*************************************

        BASE ANIMATION STYLES

*************************************/

/********************
        FADE
********************/
.fade-enter,
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.fade-enter.fade-exit-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.fade-exit {
  opacity: 0;
  z-index: 1;
}

.fadeExtra-enter {
  opacity: 0;
  z-index: 1;
}
.fadeExtra-enter.fadeExtra-enter-active {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}
.fadeExtra-enter.fadeExtra-exit-active {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}
.fadeExtra-exit {
  opacity: 0;
  z-index: 1;
}

/********************
      upAndIn
********************/
.upAndIn-appear,
.upAndIn-enter {
  transform: translateY(1000px);
}
.upAndIn-appear.upAndIn-appear-active,
.upAndIn-enter.upAndIn-enter-active {
  transform: translateY(0%);
  transition: transform 250ms ease-in;
}
.upAndIn-enter.upAndIn-exit-active {
  transform: translateY(0%);
  transition: transform 250ms ease-in;
}
.upAndIn-exit {
  transform: translateY(1000px);
}
