@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

:root {
  --wm-black: #2a2a2a;
  --wm-white: #fdfdfd;
  --wm-grey: #bbbbbb;
  --wm-dark-grey: #434343;
  --wm-light-grey: #efefef;
  --wm-lighter-grey: #f8f8f8;
  --wm-green: #00a878;
  --wm-green-dark: #00694b;
  --wm-green-light: #9fdecc;
  --wm-red: #ff6f59;
  --wm-red-dark: #9f4538;
  --wm-red-light: #ffc9c1;
  --wm-blue: #4d9de0;
  --wm-blue-light: #bcdaf3;
  --wm-blue-dark: #30628c;
  --wm-blue-medium-light: #63a9e4;
  --wm-yellow: #f3de2c;
  --wm-yellow-dark: #f5bb00;
}

* {
  font-family: 'Lato', sans-serif !important;
}

html {
  background-color: var(--wm-white);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  overflow: hidden;
  border-radius: 0.2em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--wm-grey);
  border-radius: 0.2em;
}

/*************************************

        BASE ANIMATION STYLES

*************************************/

/********************
        FADE
********************/
.fade-enter,
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.fade-enter.fade-exit-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.fade-exit {
  opacity: 0;
  z-index: 1;
}

.fadeExtra-enter {
  opacity: 0;
  z-index: 1;
}
.fadeExtra-enter.fadeExtra-enter-active {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}
.fadeExtra-enter.fadeExtra-exit-active {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}
.fadeExtra-exit {
  opacity: 0;
  z-index: 1;
}

/********************
      upAndIn
********************/
.upAndIn-appear,
.upAndIn-enter {
  transform: translateY(1000px);
}
.upAndIn-appear.upAndIn-appear-active,
.upAndIn-enter.upAndIn-enter-active {
  transform: translateY(0%);
  transition: transform 250ms ease-in;
}
.upAndIn-enter.upAndIn-exit-active {
  transform: translateY(0%);
  transition: transform 250ms ease-in;
}
.upAndIn-exit {
  transform: translateY(1000px);
}
