@media screen and (min-width: 1088px) {
  .navlinks-tablet {
    display: none;
  }
  .navlinks-full {
    display: block;
  }
  .navlinks-sd {
    display: none;
  }
}

@media screen and (max-width: 1087px) {
  .navlinks-tablet {
    display: block;
  }
  .navlinks-full {
    display: none;
  }
  .navlinks-sd {
    display: block;
  }
}


@media screen and (max-width: 768px) {
  .navlinks-tablet {
    display: block;
  }
  .navlinks-full {
    display: none;
  }
  .navlinks-sd {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .navlinks-tablet {
    display: none;
  }
  .navlinks-full {
    display: none;
  }
  .navlinks-sd {
    display: none;
  }
  .small-userauth {
    margin-left: auto !important;
  }
}
