/*******************************************************************************


                              SPLASH PAGE STYLES


*******************************************************************************/

/****************************
            HERO
*****************************/

.learnmore-button {
  border: none !important;
  background-color: var(--wm-yellow) !important;
  transition: all 100ms;
}
.learnmore-button:hover,
.learnmore-button:active {
  color: var(--wm-white) !important;
  background-color: var(--wm-blue) !important;
}

.splash-footer {
  position: relative;
  bottom: 2em;
  z-index: 30;
}
