.login.hero {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.login-form {
  width: 25em;
}

.login-form .control-group.password {
  margin-top: 2em;
}

.login .control-group label {
  font-size: 1.2em;
  font-weight: 600;
}

.login .control-group .controls {
  margin-top: 0.2em;
}

.login .control-group .controls input {
  font-size: 1em;
  width: 100%;
  height: 3em;
  padding: 1em;
  border: 1px solid var(--blue);
}

.login .control-group .controls input:focus {
  outline: 2px solid;
  outline-color: var(--blue);
}

.login .button-group {
  margin-top: 2em;
}

.login .button-group .button {
  height: 2.5em;
  width: 100%;
  color: var(--white);
  font-size: 1.1em;
  font-weight: 600;
  border-color: transparent;
  background-color: var(--blue);
  transition: all 100ms;
}
.login .button-group .button:hover {
  color: var(--black);
  background-color: var(--yellow);
}
.login .button-group .button.disabled {
  background-color: var(--blue-light);
  cursor: default;
}
.login .button-group .button.disabled:hover {
  color: var(--white);
}

.login .columns {
  width: 100%;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2em;
}
.login .columns .column {
  color: var(--blue);
  font-size: 1.1em;
  font-weight: 600;
  padding: 0;
  transition: all 100ms;
}
.login .columns .column a:hover {
  color: var(--blue);
}
.login .columns .forgot-password {
  text-align: right;
}

.login .bad-login {
  margin-bottom: 1em;
  padding: 0.75em;
  background-color: var(--light-grey);
  border-left: 4px solid var(--red);
  font-size: 1em;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
.login .bad-login .uh-oh {
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .login .columns .column {
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
  }
}

@media screen and (max-width: 475px) {
  .login-form {
    width: 15em;
  }
  .login .control-group label {
    font-size: 1em;
  }
  .login .columns {
    width: 100%;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 2em;
  }
  .login .columns .column {
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
  }
}
